*.ap_
*.apk
*.class
*.dex
*.iml
*.ipr
*.iws
.DS_Store
.classpath
.gradle
.idea
.project
/.idea/libraries
/.idea/workspace.xml
/build
/captures
/gradle
/gradlew
/gradlew.bat
/local.properties
Thumbs.db
bin/
build/
gen/
gradle/
out/
